p {
    color: orange;
}

h3 {
    color: blue;
}

.header_class {
    color: white;
    background-color: rgb(26, 88, 24);
    width: 60%;
    height: 260px;
    padding: 6%;
    margin: 10rem;
    border: 2em solid #e59c0b;
    

    /* vw  works on screen resolution's 1% */
    /* vh */

    box-sizing: content-box;
    /* min-width: 0px;
    min-height: 0px;
    min-width: 100%;
    min-height: 100%; */

    opacity: 0.9;
    background-image: url(https://thumbs.dreamstime.com/b/evening-bookstore-ambiance-stacks-books-displayed-invitingly-wooden-shelves-cozy-interior-view-open-doors-386644563.jpg);
}

.heading_title {
    display: block;
}